name: Contexts
on: push
jobs:
    print:
        runs-on: ubuntu-latest
        steps:
            - run: echo "${{ github.actor }}"
            - run: echo "${{ github.workspace }}"
            - run: echo "${{ github.event }}"
